.footer {
    margin-top: 85px;
    padding: 20px 0;
    background-color: rgb(212, 163, 115);

}

.footer .social {
    text-align: center;
    padding-bottom: 5px;
    color: aliceblue;
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    opacity: 0.65;


}

.footer .social a:hover {
    opacity: 0.9;
}

.text{
    color: aliceblue;
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    opacity: 0.75;
}